body {
    background-image: url(https://lamanzanamordida.net/app/uploads-lamanzanamordida.net/2019/11/fondo-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor-menu {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    p {
        font-weight: bold;
        color: red;
    }
    h2 {
        text-align: center;
    }
    h3 {
        background-color: black;
        color: white;
        width: 100px;
        height: 22px;
        text-align: center;
        padding: 12px;
        border-radius: 10px;
        border: 1px solid white;
    }
        h3:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    .borde {
        width: 300px;
        height: 20px;
        border: 1px solid black;
        margin: 10px;
        background-color: rgb(165, 161, 161);
    }
        .caja {
            transition: width 1.5s ease-out 0.5s;
        }
        #life1 {
            background-color: green;
            height: 100%;
            width: 0%;
        }
        #life2 {
            background-color: green;
            height: 100%;
            width: 0%;
        }
        #power1 {
            background-color: red;
            height: 100%;
            width: 0%;
        }
        #power2 {
            background-color: red;
            height: 100%;
            width: 0%;
        }
.contenedor {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.img1 {
    height: 300px;
}
.img2 {
    height: 300px;
    margin-right: 30px;
}